/* CONTENT */

.content{
    z-index: 5000;
    width: 100vw;
    font-family: "JosefinSans-Bold";
}

.content-wrap{
    flex-wrap: wrap;
    height: 100vw;
}

.content-title{
    position: relative;
    text-align: center;
    padding: 5vh;
    font-size: 8vw;
    word-break: break-all;
    transform: translateY(10vh);
}

.content-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: fit-content;
    /* height: 100vh; */
    transform: translateY(10vh);
   
}

.block-h2{
    transform: translateY(-3vh);
    font-size: 3vw;
    position: absolute;
    font-family: "JosefinSlab-Bold";
    width: 100%;
    text-align: center;
}

.content-block div{
    text-align: justify;
}


/* BLOCKS */

.block{
    width: 50%;
    z-index: 5200;
    position: relative;

}

.block p{
    font-family: "JosefinSlab-medium";
    font-size: 2vw;
    
}

.block-introduce{
    margin-top: 10vh;
    padding: 5%;
}

.block-Discovery{
    margin-top: 10vh;
}

.block-Others{
    height: 40vw;
    flex: 2 1 auto;
    margin: 5%;
    width: 40%;
}

.block-Others a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.block-Others img{
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block-Others img:hover{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}


.block-Others img{
    z-index: 5300;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

.block-Others h3{
    z-index: 5400;
    position: absolute;
    width: 100%;
    height: 30%;
    font-family: "JosefinSans-Bold";
    font-size: 5vw ;
    word-break: break-all;
    margin: 0;
    top: 0;
    line-height: 15vw;
}

.block-Others p{
    z-index: 5400;
    position: absolute;
    top:30%;
    padding:5%;
    height: 60%;
    width: 90%;
    margin: 0;
    overflow: auto;
    text-align: center;
}

/* SWIPER */

.swiper-container-introduce{
    height: 100%;
    object-fit: cover;
}

.swiper-slide-Introduce img{
    object-fit: cover;

}


@media (max-width: 960px) {

    /* CONTENT */

    .content-title{
        font-size: 10vw;
    }

    /* BLOCK */

    .block-h2{
        transform: translateY(-3vw);
        font-size: 3vw;
    }

    .h2-Discovery{
        transform: translateY(0);
    }
    
    .block p{
        font-size: 3vw;
    }

    .block-introduce{
        margin-top: 5vh;
        padding: 5vh;
    }

    .block-Discovery{
        margin-top: 10vh;
        width: 70%;
    }


    .block-Others ::-webkit-scrollbar {
        width: 2px;
    }



    .block-Others h3{
        line-height: 15vw;
    }

    .block-Others p{
        top:28%;
    }

    .story{
        width: 40%;
        
    }
    /* SWIPER */
    .swiper{
        width: 60%;
        padding-left: 0vh;
        
    }

    .swiper-slide{
        height: 100% ;
        object-fit: cover;
    }
    

    .swiper-slide-Introduce img{
        object-fit: cover;
        height: 100%;
 
    }
    

}

@media (max-width: 560px) {


    /* CONTENT PART */

    .content{
        width: 100vw;
        font-family: "JosefinSans-Bold";
    }

    .content-title{
        font-size: 18vw;
    }

    .content-block{
        flex-direction: column;
    }

    .content-wrap{
        flex-wrap: nowrap;
        height: 100%;
    }


    .content-block div{
        width: 100%;
        text-align: justify;
    }

    /* BLOCKS */

    .block-h2{
        transform: translateY(0);
        position: relative;
        font-size: 5vh;
    }

    .h2-Discovery{
        transform: translateY(4vh);
    }

    .block p{
        font-size: 4.5vh;
        margin:20px;
    }

    .block-introduce{
        margin-top: 0;
        padding: 0;
    }

    .block-Discovery{
        margin-top: 0;
    }

    .block-Others{
        height: 50vh;
        width: auto !important;
        margin: 20px;
    }

    .block-Others h3{
        position: absolute;
        width: 100%;
        height: 30%;
        font-family: "JosefinSans-Bold";
        font-size: 6vh ;
        word-break: break-all;
        margin: 0;
        top: 0;
        line-height: 15vh;
    }


    .block-Others p{
        top:28%;
        margin: 0;
        overflow: auto;
        text-align: center;
    }
    

}
