
.align-center{
    align-items: center !important;
}


.block-Others{
    height: 40vw;
    flex: 2 1 auto;
    margin: 5%;
    width: 40% !important;
}


.block-Others a{
    text-decoration: none;
    color: black;
    text-align: center;
}



.block-Others h3{
    z-index: 5400;
    position: absolute;
    width: 100%;
    height: 30%;
    font-family: "JosefinSans-Bold";
    font-size: 5vw ;
    word-break: break-all;
    margin: 0;
    top: 0;
    line-height: 15vw;
}

.block-Others p{
    z-index: 5400;
    position: absolute;
    top:30%;
    padding:5%;
    height: 60%;
    width: 90%;
    margin: 0;
    overflow: auto;
    text-align: center;
}

.other-text{
    z-index: 5100;
}

.tr-bottom-left{
    transform-origin: bottom left;
}

.tr-bottom-left:hover{

    transform: scale(1.1) rotate(-5deg) !important;
}

.tr-bottom-right{
    transform-origin: bottom right;
}


.tr-bottom-right:hover{

    transform: scale(1.1) rotate(5deg) !important;
}



/* SVG A PROPOS */
.svg-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    pointer-events: none;
    transform: translate(-20%);
}

#path{
    fill-opacity:0;

}



.pathBall{
      width: 10vw;
      z-index: 5000;
      /* background: url(../assets/icons/fenec.png) center center no-repeat; */
}


.story{
    padding: 2.5% !important;
    margin-top: 10%;
    
}
/* SWIPER */
.swiper{
    padding: 2.5% !important;
    margin-top: 10%;
    
}

.swiper-container-introduce{
    height: 100%;
    object-fit: cover;
}

.swiper-slide-Introduce img{
    object-fit: cover;

}

@media (max-width: 960px) {
}



@media (max-width: 560px) {
}
