

@media (max-width: 560px) {



    
    /* CONTENT PART */

    .content{
        width: 100vw;
        font-family: "JosefinSans-Bold";
    }

    .content-title{
        position: relative;
        text-align: center;
        padding: 5vh;
        font-size: 18vw;
        word-break: break-all;
    }

    .content-intruduce{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .content-intruduce div{
        width: 100%;
        text-align: justify;
    }

    .content-intruduce h2{
        font-family: "JosefinSlab-Bold";
        width: 100%;
        text-align: center;
    }

    .content-intruduce p{
        font-family: "JosefinSlab-medium";
        font-size: large;
        margin: 20px;
    }


    .Home-Introduce-Swiper{
        height: 50vh;
    }

    .swiper-container-introduce{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .swiper-wrapper-Introduce{
        height: 50vw;
        width: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        position: relative;
    }

    .swiper-slide-Introduce{
        position: relative;
        pointer-events: none;
        backface-visibility: hidden;
        flex-shrink: 0;
        height: 100%;
        transition-property: transform;
    }

    .swiper-slide-Introduce img{
        max-width: 100%;
        vertical-align: middle;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

 


  
   
}