@import url("./font-face.css");
@import url("./scrollbar.css");
@import url("./loader.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./navbar.css");
@import url("./swiper.css");
@import url("./content.css");
@import url("./responsive.css");

:root {
    --white-couleur: white;
    --dark-grey-couleur: rgb(22,22,22);
}

body{
    padding: 0;
    margin: 0px;
    background: white;
}

html, body {
    position: relative;
    height: 100%;
}


.Construction{
    width: 100%;
    color: var(--dark-grey-couleur);
    text-shadow: 2px 2px lightgray;
    font-family: "JosefinSans-Bold";
    text-align: center;
    line-height: 3;
    font-size: 10vh;
    word-break: break-all;
}


*,* :after ,*:before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.content-section {
	height:100vh;
  display: flex;
  justify-content: space-around;
	background-color:white;
  position: relative;
  background: white;
}

.myHeader{
  z-index: 3000;
}

.myBody{
  position: relative;
  width: 100%;
  z-index: 2000;
  
}

.hero-section{
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-section img {

  max-width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  background-position: bottom center;
}

.part2{
  background-position: top center !important;
  height: 100vh;

}
.part3{
  background-position: top center !important;
  height: 100vh;
}

.part4{
  right: 20%;
  height: 70vh;
  left: auto !important;
}
.part5{
  opacity: 0.2;
}

.bottom-shadow{
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background: white;
  height: 100%;
  z-index: 1;
}