@import url("./font-face.css");
@import url("./scrollbar.css");
@import url("./loader.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./navbar.css");
@import url("./swiper.css");
@import url("./content.css");
@import url("./responsive.css");

:root {
    --white-couleur: white;
    --dark-grey-couleur: rgb(22,22,22);
}

body{
    padding: 0;
    margin: 0px;
    background: white;
}

html, body {
    position: relative;
    height: 100%;
}


.Construction{
    width: 100%;
    color: var(--dark-grey-couleur);
    text-shadow: 2px 2px lightgray;
    font-family: "JosefinSans-Bold";
    text-align: center;
    line-height: 3;
    font-size: 10vh;
    word-break: break-all;
}

*,* :after ,*:before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
